<body>
  <div class="blog-header">
    <div class="container">
      <h1 class="title">Catálogos</h1>

       <button class="btn btn-info"><%= link_to "Clientes", clientes_path %></button>
       
    </div>
  </div>
</body>
  
