<body>
  <div class="blog-header">
    <div class="container">
      <h1 class="title">Catálogos</h1>
       <p><button class="btn btn-info"><%= link_to "Clientes", clientes_path %></button></p>
       <p><button class="btn btn-secondary"><%= link_to "Personal", empleados_path %></button></p>
       <p><button class="btn btn-success"><%= link_to "Servicios", servicios_path %></button></p>
    </div>
  </div>
</body>
  
