<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#"></a></p>
      <p><a href="#"></a></p>
      <p><a href="#"></a></p>
    </div>

    <div class="col-sm-8 text-left">
        <%= image_tag "logo-98249-303-b.jpg", width: 300, alt: "profile image" %>
        <%= render 'shared/inicio_lista_solicitudes' %>
      <hr>
    </div>
    
    
  </div>
</div>
