<h1>Editing Solicitud Estructura</h1>

<%= render 'form', solicitud_estructura: @solicitud_estructura %>

<%= link_to 'Show', @solicitud_estructura %> |
<%= link_to 'Back', solicitud_estructuras_path %>
